<script>
  var bar_data = {
    data : [[1,10], [2,8], [3,4], [4,13], [5,17], [6,9]],
    bars: { show: true }
  }
</script>
<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h2 class="box-title">Negative Sentiment</h2>
      </div>
      <div class="box-body">
      <div id="bar-chart" style="height: 200px;"></div>
      </div>
    </div>
    <div class="box box-primary">
      <div class="box-header with-border">
        <h2 class="box-title">Positive Sentiment</h2>
      </div>
      <div class="box-body">
      <div id="bar-chart" style="height: 200px;"></div>
      </div>
    </div>
    <div class="box box-primary">
      <div class="box-header with-border">
        <h2 class="box-title">Neutral Sentiment</h2>
      </div>
      <div class="box-body">
      <div id="bar-chart" style="height: 200px;"></div>
      </div>
    </div>
  </div>
</div>
